/* body {
    margin: 0;
    border: 0;
} */

/* SEALED PACK */
#sealed-section {
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

#pack-frame {
    width: 406px;
    height: 551px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unwrap-btn {
    background: gold;
    width: 120px;
    height: 40px;
    border: 3px solid darkgoldenrod;
    border-radius: 8px;
    color: black;
    font-weight: 600;
}

.q-mark {
    font-family: 'Times New Roman', Times, serif; 
    font-size: 144pt; 
    font-weight: 700;
    color: white;
}

.btn-panel-row {
    display: flex;
    justify-content: center;
}

/* DRAFT CARDS */



/* DECK ASSEMBLY */
#card-pool {
    width: 1272px;
    height: 1326px;
    
    display: grid;
    grid-template-columns: 159px 159px 159px 159px 159px 159px 159px 159px;
    grid-template-rows: 221px 221px 221px 221px 221px;
}

#choose-basics {
    width: 1000px;
    height: 221px;
    display: flex;
    justify-content: space-between;
}

.basic-land {
    width: 159px;
    height: 221px;
}

.btn-class {
    width: 140px;
    height: 40px;
    background: #2b6382;
    border-color: #354e53;
    border-radius: 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* PLAY */
#hand {
    width: 460px;
    height: 60px;
    padding: 5px;
    background: gray;
    display: flex;
    justify-content: start;
    
}

#playmat {
    background: #abcdef;
    width: 400px;
    height: 330px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px;
    text-align: center;
}

.card {
    background: wheat;
    width: 35px;
    height: 50px;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
}





.test {
    background: hotpink;
    
}






/* Consider styles for cards IN HAND 
                versus cards IN PLAY 
      
    width: 160px;   is a good start for cards in hand

    Try adding max-width: 100% to an <img> element

    .cover {
        object-fit: cover;
    }

    .contain {
        object-fit: contain;
    }

    element.remove()
*/
