body {
    margin: 0;
    border: 0;
}

/* Index.html  aka Join Screen  */
#join {
    margin-left: 10px;
    background: white;    /* already white, just for clarity */
}

#users-connected {
    font-size: 20px;
    font-weight: bold;
    color: green;
}
#users-needed {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}
#image-and-info {
    display: flex;
}
#card-info {
    width: 260px; 
    height: 286px; 
    padding: 12px 15px;
}
#card-frame {
    width: 223px;
    height: 310px;
    border-radius: 8px;
    background: black;
}

/* Open / Draft screens */
#open, #draft {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

    #sealed-section {
        display: flex; 
        justify-content: space-evenly;
        align-items: center;
    }

        .q-mark {
            font-family: 'Times New Roman', Times, serif; 
            font-size: 144pt; 
            font-weight: 700;
            color: white;
        }
        
        #pack-frame {
            width: 406px;
            height: 551px;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }

/* DRAFT styles */

#top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: lightgray;
}

    .time-box {
        width: 270px;
        font-size: 36px;
        text-align: center;
    }

    #centerpiece {
        width: 223px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #cards-unseen {
            width: 223px; 
            height: 310px; 
            margin-top: 70px;
            background-color: black; 
        }

        .btn-panel {
            display: flex;
            justify-content: center;
        }

        .gold-btn {
            background: gold;
            width: 135px;
            height: 40px;
            border: 3px solid darkgoldenrod;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 600;
            color: black;
        }
        .gold-btn:active {
            /* background: rgb(102, 62, 9); */
            background-color: goldenrod;
            border-color: gold;
            
        }

    .info-box {
        width: 270px;
        font-size: 24px;
    }


#cards-seen {
    width: 100%;
    height: 221px;
    /* background: gray; */
    display: flex;
    justify-content: flex-start;
    
}

    .backing {
        width: 159px;
        height: 221px;
        margin-left: -75px;
        background: black;
    }

    .seen {
        width: 159px;
        height: 221px;
    }

    #cards-seen :first-child {
        margin-left: 0px;
    }

.text-white {
    color: white;
}
.text-red {
    color: red;
}


/* DECK ASSEMBLY */
#build {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #card-pool {
        width: 1272px;
        height: 1326px;
        
        display: grid;
        grid-template-columns: 159px 159px 159px 159px 159px 159px 159px 159px;
        grid-template-rows: 221px 221px 221px 221px 221px;
    }

    .qty {
        font-family:'Courier New', Courier, monospace;
        font-size: 36px;
        font-weight: 600;
        color: black;
    }

    .build-btn {
        width: 135px;
        height: 40px;
        background: #2b6382;
        border: 3px solid #354e53;
        border-radius: 8px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;  /* as opposed to default ? */
        font-size: 16px;
        font-weight: 400; /* should be 600 ? */
    }
    .build-btn:active {
        background: #57a7d1;
        border-color: #336e8e;
        color: black;
    }

    #choose-basics {
        width: 1000px;
        height: 221px;
        display: flex;
        justify-content: space-between;
    }
        .basic-land {
            width: 159px;
            height: 221px;
        }

    #land-quantities {
        width: 864px;
        display: flex;
        justify-content: space-between;
    }


/* PLAY */
#play {
    margin: 0;
    height: 100vh;
    display: flex;
}
#play > * {
    background: #1E1E1E;
    color: lightgray;
}

#main-section {
    width: calc(100vw - 220px); 
    display: flex; 
    flex-direction: column;
}

    #opp-playarea {
        min-width: 700px; 
        min-height: 240px; 
        display: flex;
    }

        #opp-permanents {
            width: calc(100vw - 370px); 
            border-left: 2px solid #555;
            display: flex; 
            flex-direction: column; 
            text-align: center;
        }

            #opp-lands {
                height: 110px;
            }
            
            #opp-non-lands {
                height: 135px;
            }

    #my-playarea {
        width: calc(100vw - 220px);
        height: 270px;
        box-sizing: border-box;
        border-top: 2px solid #555;
        border-bottom: 2px solid #555;
        display: flex; 
        justify-content: space-between; 
        /* margin-top: 50px; */
        text-align: center;
    }

        #my-cards-in-play {
            min-width: 812px;
            width: calc(100vw - 290px);
            display: flex; 
            flex-direction: column
        }

            #non-lands-in-play {
                height: 145px;
                padding: 5px;
                display: flex;
                justify-content: flex-start;
            }
            #non-lands-in-play > img {
                width: 90px; 
                height: 125px;
                margin-right: 18px;
                border-radius: 4px;
            }
            
            #lands-in-play {
                height: 110px;
                padding: 5px;
                display: flex;
                justify-content: flex-start;
            }
            #lands-in-play > img {
                width: 72px; 
                height: 100px;
                margin-right: 15px;
                border-radius: 3px;
            }

            #my-mana {
                width: 60px; 
                min-height: 250px; 
                padding: 5px;
                display: flex; 
                flex-direction: column;
                justify-content: space-between;
            }

                .mana-box {
                    
                    border: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

    #hand {
        min-width: 917px;
        height: 185px;
        padding: 5px;
        display: flex;
        justify-content: start;
        text-align: center;
    }
    #hand > img {
        width: 126px;
        height: 175px;
        margin-right: 3px;
        border-radius: 6px;
    }
          
        /* .card-in-hand {
            width: 126px;
            height: 175px;
            margin-right: 3px;
            border-radius: 6px;
        } */

#right-sidebar {
    width: 220px; 
    border-left: 2px solid #555;
    padding: 5px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
}

    #chat-box {
        width: 185px;
        height: 210px;
        padding: 5px;
    }

    #chat-log {
        width: 175px;
        resize: none;
        font-family:'Times New Roman', Times, serif;
        font-size: 14px;
    }

    .chat-name {
        color: hotpink;
    }

    #my-graveyard, #my-exiles {
        width: 169px;
        height: 221px;
        padding: 5px 10px;
        background: #555;
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;  /* 'none' may not work because this property is only supported in Firefox */
    }

    

    #my-graveyard > img,
    #my-exiles > img {
        width: 159px;
        height: 221px;
        margin-top: -140px;
        border-radius: 7px;
    }
    #my-graveyard :first-child,
    #my-exiles :first-child {
        margin-top: 0px;
    }
    

.tapped {
    transform: rotate(90deg);
}

button {
    border: 3px solid lightseagreen;
    border-radius: 5px;
}



.test {
    background: hotpink;
    color: burlywood;
    transform: translate(50px, 50px) rotate(90deg);
}






/*  
      
    width: 160px;   is a good start for cards in hand

    Try adding max-width: 100% to an <img> element

    .cover {
        object-fit: cover;
    }

    .contain {
        object-fit: contain;
    }

    element.remove()

    For consistency, it is a good idea to set margins and padding to 0 on ALL elements, 
    then add these back in when styling particular controls:
*/
